META.yml
MYMETA.yml
MYMETA.json
Makefile
Makefile.old
MANIFEST.bak
inc/
blib/
xs-src/UtilsBy.[co]
*.bs
pm_to_blib
ppport.h
*~
/List-UtilsBy-XS-*
/.build
/_build_params
/Build
!Build/
!META.json
!LICENSE
/_build
/lib/List/UtilsBy/XS.c
/lib/List/UtilsBy/XS.xs
/lib/List/UtilsBy/XS.o
